The title is: [title]
The author is: [foo.author]
The author.x.y is: [foo.author.x.y]

[- This is a comment -]

This simple reference ('titlex') is not defined >>[titlex]<<
Either is this structured one (foox.author) >>[foox.author]<<
or this one (foo.authorx) >>[foo.authorx]<< . undefined references result in empty strings.

Here is a list:
    [for item in list]<li><a href="[item.href]">[item.text]</a></li>
    [/for]</ul>

Now test ifdef:

[ifdef error][include ex1a][else]There is no 'error' in the data.[/ifdef]

Now try to format something in json:
[foo json]

glorp

[ifdef foo.author]
Looks like we have foo.author
[else]
No foo.author found.
[/ifdef]


[ifdef foo]
foo
[ifdef foo.author]
[foo.author]
[else]
no author
[/ifdef]
[else]
no foo
[/ifdef]

For debug, here is the data:
[* json]

OK, that's all for now.

